.instrument {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.title {
  text-align: left;
  flex-grow: 1;
  white-space: nowrap;
  margin-right: 1rem;
}