.button {
  --shadow-color-on: rgb(0, 60, 109);
  --shadow-color-off: rgb(60, 60, 60);
  display: flex;
  width: 60px;
  height: 55px;
  border: none;
  margin: 15px 10px;
  border-radius: 6px;
  background-color: rgb(113, 124, 131);
  box-shadow: 0 5px 0 var(--shadow-color-off);
  cursor: pointer;
}

.button.on {
  box-shadow: 0 5px 0 var(--shadow-color-on);
}

.button:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 var(--shadow-color-on);
}

.button.on,
.button:active {
  background: radial-gradient(rgb(0, 157, 255), rgb(113, 124, 131));
}
