.menu {
  display: flex;
}

.link {
  display: flex;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  transition: 300ms 200ms;
}

.link a,
.linkSubmenu {
  padding: 10px 20px;
}

.link:not(.sublink)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 50%;
  display: block;
  width: 0;
  border-bottom: 2px solid var(--color);
  transition: 300ms 300ms;
}

.link:not(.sublink):hover::after {
  margin-left: 0;
  width: 100%;
  transition: 300ms;
}

.link:hover {
  background-color: rgb(var(--card-rgb));
  transition: 300ms;
}

.sublink, .sublink a {
  display: flex;
  flex-direction: column;
}

.sublink:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.link:hover::after {
  margin-left: 0;
  width: 100%;
}

.submenu {
  position: absolute;
  opacity: 1;
  top: calc(100% + 11px);
  right: 0;
  max-height: 0;
  white-space: nowrap;
  border-radius: var(--border-radius);
  background-color: rgb(var(--card-rgb));
  z-index: 1;
  transition: 500ms ease-in-out;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.linkSubmenu::before {
  content: '';
  position: absolute;
  bottom: -11px;
  left: 0;
  margin-left: calc(50% - 10px);
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(var(--card-rgb));
  border-left: 10px solid transparent;
  opacity: 0;
  z-index: 2;
  transition: 300ms 400ms;
}

.link:hover .submenu {
  max-height: 100vh;
}

.linkSubmenu:hover::before {
  opacity: 1;
  transition: 300ms;
}
